/* Styles */

.trasnlator-container, .translator-languajes, .second-panel, .control-panel, .btn-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-btn {
  border: 4px solid var(--gray);
}

.icon-btn:hover svg, .icon-btn:hover svg path {
  fill: var(--white);
}

.trasnlator-container {
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  width: 90%;

  & .translator {
    padding: 1rem;
    background-color: rgba(18,24,38, .9);
    border: 1px solid var(--gray);
    transition: .5s ease all;
    border-radius: 10px;
    width: 49%;
  }
  
  & .translator:hover {
    background-color: rgba(33,41,54, .95);
  }
  
  & .translator-languajes {
    width: 100%;
  }

  & .space {
    justify-content: space-between;
  }

  & .control-panel {
    justify-content: space-between;

    & .translate-btn {
      background-color: var(--blue);
      color: var(--white);
      padding: 10px 1rem;
      transition: .3 ease all;
    }

    & .translate-btn:hover {
      background-color: var(--light-blue);
    }
  }
}

@media screen and (max-width: 1100px) {
  .trasnlator-container {
    width: 90%;
  
    & .translator {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  * {
    font-size: 9px;
  }
  textarea {
    height: 150px;
  }
}
